<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Shop stuff</title>
</head>

<body>

    <div class="wrapperP">

        <header class="header">
            <div class="header__top centrar">
                <div class="header__toplogo">
                    <div class="header__toplogoimg">
                        <a href=""><img src="/images/logo.png" class="logoImg" alt=""></a>
                    </div>
                    <div class="header__topnombreLogo">
                        <a href="#">
                            <div class="logoTitulo">
                                <img src="/images/Titulo.png" class="logoTitulo__imagen" alt="">
                                <img src="/images/Tituloalt.png" class="logoTitulo__imagen" alt="">
                            </div>

                        </a>
                    </div>
                    <div class="comodo"></div>
                </div>
                <div class="clearflix"></div>

                <div class="header__center">
                    <a class="btn" href="#"><img class="Lang" src="/images/Lang.png" alt=""></i></a>
                </div>

                <div class="header__topright">
                    <div class="contendor-menu-normal">
                        <a href="/store" class="link"><img src="/images/Nav_Stuff.png" class="link__img" alt=""></a>
                        <a href="" class="link"><img src="/images/Nav_Login.png" class="link__img" alt=""></a>
                        <a href="" class="link"><img src="/images/Nav_Signup.png" class="link__img" alt=""></a>
                    </div>
                </div>
            </div>


            <div class="mainnav">
                <span class="mainnav__link">
                    <a href="#" class="navlink">Home</a>
                </span>
                <span class="mainnav__link">
                    <a href="#wegot" class="navlink">We got</a>
                </span>
                <span class="mainnav__link">
                    <a href="#spacecenter" class="navlink">Space center</a>
                </span>
                <span class="mainnav__link">
                    <a href="#gun" class="navlink">Gun</a>
                </span>
                <span class="mainnav__link">
                    <a href="#pics" class="navlink">Pics</a>
                </span>
                <span class="mainnav__link">
                    <a href="#magic" class="navlink">Magic</a>
                </span>
            </div>
            <div class="carshop">
                <div class="lenghtCont">
                    <p class="carshop__lenght">{{cartLength}}</p>
                </div>

                <a href="" class="carshop__btn">
                    <img src="/images/carrito.png" alt="" class="carshop__img">
                </a>
            </div>
        </header>


        {{{body}}}
        <section class="newsletter" id="magic">
            <div class="newsletter__content">
                <h2 class="newsletter__text">SUBSCRIBE TO MR. PUPPY WORLD TO GET SOME GIFTS FOR FREE</h2>
                <div class="newsletter__inputs">
                    <input type="text" placeholder="Galactic Email" class="inputs">
                    <input type="text" placeholder="Name" class="inputs">
                </div>
                <div class="newsletter__conteiner">
                    <a href="" class="newsletterbtn" style="text-transform: uppercase">Suscribe</a>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__conteinermain">
                <div class="footer__conteiner">
                    <a class="footer__a" href="">Home</a>
                    <a class="footer__a" href="">We got</a>
                    <a class="footer__a" href="">Space center</a>
                    <a class="footer__a" href="">Gun</a>
                    <a class="footer__a" href="">pics</a>
                </div>

                <div class="footer__contact">
                    <p class="footer__p">Thebesrworld.jshj.qop.ppp</p>
                    <p class="footer__p">.2.3.4</p>

                </div>
            </div>
            <div class="footer__copyright">All rights are reserved for you</div>



        </footer>
    </div>
    <div class="modal">

        <div class="modal__frame">

            <div class="modal__frameL">
                <div class="frameL__title">
                    <h1 class="frameL__title1">
                        IF YOU WANT TO BUY THIS PRODUCT YOU HAVE TO REVEAL US SOME INFORMATION
                    </h1>
                </div>
                <div class="frameL__bottom">
                    <div class="bottom__overt">FULL NAME</div>
                    <input type="text" class="bottom__input" name="namedata" id="">
                    <div class="bottom__overt">ID NUMBER</div>
                    <input type="text" class="bottom__input" name="iddata" id="">
                    <div class="frameL__bottomCheck">
                        <label>Cash<input type="checkbox" class="check" value="cashCheck"></label>
                        <label>Card<input type="checkbox" class="check" value="cardCheck"></label>
                    </div>
                    <div class="bottom__overt">DIRECTION</div>
                    <input type="text" class="bottom__input" name="dirdata" id="">
                </div>
            </div>

            <div class="modal__frameR">

                <div class="generalproduct">

                    <div class="btnadd"><a class="btnaddg" data-name="{{this._id}}"><img class="imgbtnadd"
                                src="/images/add.png" alt=""></a>
                    </div>
                    <a href="/product/{{this._id}}"> <img class="imgProduct" src="{{image}}" alt=""></a>
                    <p class="descript">{{description}}</p>
                    <p class="price">${{price}}</p>

                    <a class="name" href="/product/{{this._id}}">{{name}}</a>
                </div>
                <button class="confirmBtn">OK</button>
            </div>

        </div>

        <img class="contentImg__scruffy" src="/images/scruffy.png" alt="">

    </div>


    <script src="/scripts/checkout.js"></script>
</body>

</html>