<div class="wrapperLCR">
    <div class="listCartR">
        
        <div class="listCartR__title">
          
            <div class="listCartR__titlet">
                <p class="listCartR__text">WELCOME TO YOUR CART SHOP</p>
            </div>
          
        </div>

        <div class="productsAddedC">


        </div>

        <div class="containerButtons">
            <div class="contain_confirmBtn">
                <button class="buttonCart">BUY ALL</button>
            </div>
            <div class="contain_confirmBtn">
                <button class="buttonCart">CLEAR CART</button>
            </div>
        </div>




        <div class="carshop">
            <div class="lenghtCont">
                <p class="carshop__lenght">{{product.cartLength}}</p>
            </div>

            <div class="carshop__btn">
                <img src="/images/carrito.png" alt="" class="carshop__img">
            </div>
        </div>



    </div>
</div>


<div class="generalProductpage">
    <div class="gProductContainer">
        <div class="gProductContainer__titles">
            <div class="producTitle">
                <p class="producTitle__1">{{product.name}}</p>
            </div>
            <div class="productSubTitle">
                <p class="producTitle__2">{{product.description}}</p>
            </div>
        </div>
        <div class="gProductContainer__contents">

            <div class="oneproduct">

                <img class="oneImgProduct" src="{{product.image}}" alt="">

            </div>

            <div class="contentsDQ">
                <div class="pricelabel">${{product.price}}
                </div>
                <div class="frameD">
                    <div class="contentsDQ__description">
                        <p class="caracteristicsP">{{product.moredescription}}
                        </p>
                    </div>
                </div>
                <div class="inputQ">
                    <div class="inputQ__quantity">
                        QUANTITY
                    </div>
                    <input class="quantityslice" type="number" name="quantity" min="1" max="5" step="1" value="1">
                </div>
                <div class="btnAddBuy">
                    <div class="btnAddBuy__Buy">
                        <button class="btnAddBuy__buyFrame">
                            BUY NOW
                        </button>
                    </div>
                    <div class="btnAddBuy__Add">
                        <a class="btnAddBuy__AddText" data-name="{{product._id}}">ADD TO CART</a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="separatorP">

        <div class="separatorP__form">
            <img class="separatorP__formImg" src="/images/separator.png" alt="">
        </div>

        <div class="separatorP__title">
            <p class="separatorP__titleType">IF YOU LIKE THAT, YOU SHOULD SEE THIS</p>
        </div>

        <div class="separatorP__form">
            <img class="separatorP__formImg" src="/images/separator.png" alt="">
        </div>

    </div>

    <div class="recommendedP">

        {{#each recomend}}




        <div class="generalproduct">

            <div class="btnadd"><a class="btnaddg" data-name="{{this._id}}"><img class="imgbtnadd" src="/images/add.png"
                        alt=""></a>
            </div>
            <a href="/product/{{this._id}}/{{this.danger}}"> <img class="imgProduct" src="{{this.image}}" alt=""></a>

            <a class="name" href="/product/{{this._id}}">{{this.name}}</a>
            <p class="descript">{{this.description}}</p>
            <p class="price">${{this.price}}</p>

            
        </div>



        {{/each}}
    </div>
</div>


<script src="/scripts/storerage.js"></script>
<script src="/scripts/product.js"></script>