<div class="wrapperLCR">
    <div class="listCartR">

        <div class="listCartR__title">
          
            <div class="listCartR__titlet">
                <p class="listCartR__text">WELCOME TO YOUR CART SHOP</p>
            </div>
          
        </div>

        <div class="productsAddedC">


        </div>

        <div class="containerButtons">
            <div class="contain_confirmBtn">
                <button class="buttonCart">BUY ALL</button>
            </div>
            <div class="contain_confirmBtn">
                <button class="buttonCart">CLEAR CART</button>
            </div>
        </div>



        <div class="carshop">
            <div class="lenghtCont">
                <p class="carshop__lenght">{{cartLength}}</p>
            </div>

            <div class="carshop__btn">
                <img src="/images/carrito.png" alt="" class="carshop__img">
            </div>
        </div>



    </div>
</div>


<div class="titleshop">
    <p class="title">THIS IS THE BEST SPACE WEAPON SHOP</p>
    <p class="subtitle">YOU CAN FIND A LOT OF SPECIAL WEAPONS RIGHT HERE</p>

</div>
<div></div>
<div class="gcontainer">
    <div class="gcontainer__filter">
        <div class="gcontainer__filtercontent">
            <a class="viewall" href="/store">VIEW ALL</a>
            <p class="titles">FILTER</p>
            <p class="list-titles">RANGE PRICE</p>
            <form action="/store" method="GET">
                <select class="listsp" name="filter">
                    <option value="0-$10.000">0-$10.000</option>
                    <option value="$10.000-$20.000">$10.000-$20.000</option>
                    <option value="$20.000-$30.000">$20.000-$30.000</option>
                    <option value="$30.000-$40.000">$30.000-$40.000</option>
                    <option value="$40.000-$50.000">$40.000-$50.000</option>
                    <option value="$50.000-$100.000">$50.000-$100.000</option>
                </select>
                <button class="filters__enviar" type="submit">Filter</button>
            </form>
            <p class="list-titles">SIZE</p>
            <form action="/store" method="GET">
                <select class="listsp" name="filter">
                    <option value="big">Big</option>
                    <option value="medium">Medium</option>
                    <option value="small">Small</option>
                </select>
                <button class="filters__enviar" type="submit">Filter</button>
            </form>
            <p class="list-titles">DANGER</p>
            <form action="/store" method="GET">
                <select class="listsp" name="filter">
                    <option value="plasma">Plasma</option>
                    <option value="electric">Electric</option>
                    <option value="plumb">Plumb</option>
                </select>
                <button class="filters__enviar" type="submit">Filter</button>
            </form>
            <p class="titles">ORDER</p>
            <p class="list-titles">POPULARITY</p>
            <form action="/store" method="GET">
                <select class="listsp" name="filter">
                    <option value="fromoreless">from more to less</option>
                    <option value="fromlessmore">from less to more</option>
                </select>
                <button class="filters__enviar" type="submit">Order</button>
            </form>
            <p class="list-titles">ORDER BY PRICE</p>
            <form action="/store" method="GET">
                <select class="listsp" name="filter">
                    <option value="lh">Low to high</option>
                    <option value="high to low">High to low</option>
                </select>
                <button class="filters__enviar" type="submit">Order</button>
            </form>
            <p class="list-titles">RARENESS</p>
            <form action="/store" method="GET">
                <select class="listsp" name="filter">
                    <option value="from more to less">from more to less</option>
                    <option value="from less to more">from less to more</option>
                </select>
                <button class="filters__enviar" type="submit">Order</button>
            </form>
        </div>
    </div>
    <div class="gcontainer__products">
        {{#each products}}
        <div class="generalproduct">

            <div class="btnadd"><a class="btnaddg" data-name="{{this._id}}"><img class="imgbtnadd" src="/images/add.png"
                        alt=""></a>
            </div>
            <a href="/product/{{this._id}}/{{this.danger}}"> <img class="imgProduct" src="{{this.image}}" alt=""></a>
            <a class="name" href="/product/{{this._id}}">{{name}}</a>
            <p class="descript">{{description}}</p>
            <p class="price">${{price}}</p>


        </div>
        {{/each}}
    </div>

</div>

<!-- 
<script src="/scripts/store.js"></script>
-->

<script src="/scripts/storerage.js"></script>